<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <form  action="/operation/edit/<%=operation.id%>" method="POST" >
    

        <div class="row">
            <div class="col-md-8 mb-4">
              <div class="card mb-4">
                <div class="card-header py-3">
                  <h5 class="mb-0">Editar operación</h5>
                </div>
                <div class="card-body">
                  
                    <!-- Text input -->
                    <div class="form-outline mb-4 w-50">
                        <label class="form-label" for="description">Descripción</label>
                      <input type="text" name="description"  id="description"  value="<%=operation.description%>" class="form-control" />
                    </div>
    
                    <!-- Number input -->
                    <div class="form-outline mb-4 w-50" >
                        <label class="form-label" for="amount">Monto</label>
                      <input type="number" name="amount" id="amount"  value="<%=operation.amount%>" class="form-control" />
                    </div>
                   
                   
                    <input type="date" name="date" value="<%=operation.date%>" >
                    
                    
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Editar</button>
                   
          
          </div>
             
        </form>
</body>
</html>