<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
  
    <article>
      

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Descripción</th>
              <th scope="col">Monto</th>
              <th scope="col">Fecha</th>
              <th scope="col">Tipo</th>
              <th>editar y eliminar</th>
            </tr>
          </thead>
          <tbody>
            <% operations.forEach(operation=> { %>
            
          <tr>
              <th class="align-middle"><%= operation.id  %>  </th>
              <td class="align-middle"><%= operation.description  %> </td>
              <td class="align-middle"><%= operation.amount %> </td>
              <td class="align-middle"><%= operation.date  %> </td>
              <td class="align-middle"><%= operation.types.name %> </td>
              
              <td>
                  
                  <form action="/operation/edit/<%=operation.id %>">
                  <button type="submit" class="  btn btn-outline-secondary w-100 mb-1 ">Editar</button>
                  </form>
                  <form action="/operation/delete/<%=operation.id%>"   method="POST">
                  <button type="submit" class="btn btn-outline-danger w-100">Eliminar</button>
                  </form>
                  
              </td>
              
          </tr>
    
          <%  }) %>  
    
      </tbody>
</table>

<div class="d-grid gap-2 col-2 mx-auto ">
  <button class="btn btn-outline-secondary btn-lg">Cargar operación</button>
</div>

    </article>
</body>
</html>